#root,body,html {
    height: 100%;
    overscroll-behavior-y: contain
}

html {
    font-size: 1rem;
    color: #222
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Noto Sans SC Sliced",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","Source Han Sans CN",sans-serif,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

:focus {
    outline: none
}

a {
    color: inherit;
    cursor: pointer
}

a,a:focus {
    text-decoration: none
}

blockquote {
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 1rem;
    color: rgb(153, 153, 153);
    border-left: 0.25rem solid rgb(227, 227, 227)
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

h2::after {
    content: "#";
    display: inline-block;
    color: rgb(227, 227, 227);
    margin-left: 0.5rem;
    transition: all .5s ease 0s
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    bottom: 5%;
    left: 50%;
    font-size: 1rem;
    margin-left: calc(-50%);
    opacity: 0;
    padding: 0.25rem 0;
    position: absolute;
    text-align: center;
    transition: scale .08s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity .2s ease-out;
    width: calc(100%);
    z-index: 2
}

.light[data-tooltip]:before {
    background: rgba(0, 0, 0, 0.5);
    color: white
}

.dark[data-tooltip]:before {
    background: rgba(255, 255, 255, 0.5);
    color: black
}

[data-tooltip]:hover:before {
    transform: scale(1.076);
    opacity: 1
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 6rem
}

.title-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 6rem auto 0;
    max-width: 720px;
    width: 100%;
    -webkit-box-align: center
}

.title {
    font-family: 'Courier Prime', monospace;
    font-size: 2.125rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    margin-bottom: 1.5rem
}

.title-desc {
    font-family: 'Major Mono Display', monospace;
    font-size: 0.8rem;
    line-height: 1.625rem;
    text-align: center
}

.content-section {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%
}

.navigator-section {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 auto 3rem;
    max-width: 1280px;
    width: 100%;
    -webkit-box-align: center
}

.navigator-section > h2 {
    align-self: flex-start
}

.navigator-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%
}

.navigator-wrapper {
    cursor: pointer;
    position: relative;
    width: calc(92.8% / 6);
    margin: 0 0.6% 1.2%
}

.navigator-content {
    display: table;
    position: relative;
    height: 0px;
    width: 100%;
    padding-top: 100%
}

.navigator {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: calc(5%);
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px
}

.navigator:hover {
    transform: scale(1.084)
}

.navigator-filter {
    border-radius: calc(5%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    filter: brightness(90%) contrast(120%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px)
}

.navigator-icon {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center
    /* backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s; */
}

.navigator-icon > img {
    width: 48%;
    height: 48%;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3))
}

.navigator-desc {
    border-radius: 0 0 calc(5%) calc(5%);
    visibility: hidden;
    width: 100%;
    height: 52%;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

.navigator:hover .navigator-desc {
    background-color: red;
    justify-content: end;
    visibility: visible
}

.footer {
    align-items: center;
    display: flex;
    flex: 0;
    flex-direction: column;
    font-size: small;
    margin-bottom: 3rem
}

.copyright,.creative-commons {
    padding: 0.125rem
}

.creative-commons > a {
    color: #007bff
}

.creative-commons > a:hover {
    color: #fda829
}

/* Logos */
.aria      { background-image: url('../img/aria2.png') }
.asstosrt  { background-image: url('../img/closed-captioning.svg') }
.cert      { background-image: url('../img/cert.ico') }
.google    { background-image: url('../img/google.svg') }
.grafana   { background-image: url('../img/grafana.svg') }
.send      { background-image: url('../img/firefox-send.svg') }
.status    { background-image: url('../img/status.ico') }
.stellaris { background-image: url('../img/stellaris.bmp') }
.xssor     { background-image: url('../img/xssor.jpeg') }

@media only screen and (max-width: 1600px) {
    #root,.navigator-row { padding: 0 5rem}
}

@media only screen and (max-width: 1300px) {
    #root,.navigator-row { padding: 0 4rem}
    [data-tooltip]:before { font-size: 0.825rem; padding: 0.2rem 0 }
}

@media only screen and (max-width: 1080px) {
    #root,.navigator-row { padding: 0 3rem}
    [data-tooltip]:before { font-size: 0.625rem; padding: 0.125rem 0 }
}

@media only screen and (max-width: 440px) {
    #root,.navigator-row { padding: 0 1.5rem}
    [data-tooltip]:before { font-size: 0.375rem; padding: 0.1rem 0 }
}